@model WebApplication1.Models.Client

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Client</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Surname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Surname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PESEL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PESEL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
    </dl>
</div>
<div>
    <h5>Subscribtions</h5>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Industry</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Subscriptions)
            {
                <tr>
                    <td>
                        @item.Company.Name
                    </td>
                    <td>
                        @item.Company.Industry
                    </td>
                    <td>
                        <a asp-controller="Companies" asp-action="Details" asp-route-id="@item.CompanyId">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a href="#" onClick="history.go(-1); return false;">Back</a>
</div>
